html,
body,
#__nuxt {
  height: 100%;
}

body {
  scrollbar-color: #9ca3af transparent;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

